@charset "utf-8";

/* 기본 공통서식 */
/* 나눔 고딕 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body{
    font-family: 'Humanbumsuk';
    font-size:16px; /* 16이 기본이지만 보통s글자는 12로 설정함 */
    color: rgb(15, 15, 15); /* 글자색은 검정이지만 회색으로 설정함 - 웹접근성이 좋게 하기 위함 */
    font-weight:400;
    line-height: 1.4;
}
a{
    text-decoration:none;
    color:rgb(15, 15, 15);
}
@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

